@import "common/variables.less";

.conf-wrapper {
  height:100%;
  width:100%;
  background: @primary-color;
  .center;
  color: #FFF;
}

.confirmation-class {
  color: #FFF;
  position: absolute;
  left: 50%;
  .transform(translate(-50%, -50%));
  top:50%;
  width: 500px;
  max-width: 80%;
//  margin-top: 20vw;
  text-align: center;
  img {
    width: 100px;
    height: 100px;
  }
  button {
    color: #FFF;
    width: 100%;
    margin:0;
  }
}
