#controlPanel {
  height: 60px;
  background-color: black;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  color: white;
  span {
    margin-right: 60px;
    margin-top: 10px;
    float: right;
    font-weight: 900;
    font-size: 30px;
  }
  ul {
    float: right;
    list-style-type: none;
    
    li {
      display: inline;
      cursor: pointer;
    }
  }
}

.userApp > div{
  display: none;
  
  &.show {
    display: block;
  }
}

