.userApp > div{
  display: none;
  font-size: 20px;
  
  &.show {
    padding-top: 100px;
    display: block;
  }
}

.navbar-collapse {
  padding-top: 10px;
  padding-left: 20px;
}
.navbar-collapse {
  height: 70px;
}

.form-control {
  border: 0;
}
.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  height: 55px !important;
}
