<template name="landing">
  <div class="landing">
    {{#if shops}}
    <ul>
      {{#each shops}}
        {{> shop_item}}
      {{/each}}
    </ul>
    {{else}}
    <header>

    </header>
    <footer>
      <ul>
        <li><button id="login">Login</button></li>
        <li><button id="login-shop">Shop Login</button></li>
      </ul>
    </footer>
    {{/if}}
  </div>
</template>

<template name="shop_item">
  <li class="shop">
    <div class="logo">
      <img src="{{profile.logo}}" />
    </div>
    <div class="name">{{profile.name}}</div>
  </li>
</template>
