<template name="landing">
  <div class="landing">

      <div id="buttons">
          <div class="inner">
              <button class="landing-button" id="login">Login</button>
          </div>
          <div class="inner">
            <button class="landing-button" id="login-shop">Shop Login</button>
          </div>
      </div>

  </div>
</template>

<template name="shop_item">
  <li class="shop">
    <div class="logo">
      <img src="{{profile.logo}}" />
    </div>
    <div class="name">{{profile.name}}</div>
  </li>
</template>
