<template name="landing">
  <div class="landing">
    {{#if shops}}
    <header class="mobile">Cafés around you</header>
    <div class="no-more">That's all for now.</div>
    <ul class="shops">
      {{#each shops}}
        {{> shop_item}}
      {{/each}}
    </ul>
    {{else}}
      <div class="landing-inner">
      <div id="buttons">
          <div class="inner">
              <button class="landing-button" id="login">Login</button>
          </div>
          <div class="inner">
            <button class="landing-button" id="login-shop">Shop Login</button>
          </div>
      </div>
      </div>
      {{/if}}
  </div>
</template>

<template name="shop_item">
  <li class="shop" style="background-image: url(/images/food.jpg)">
    <div class="text">
      <div class="name">{{profile.name}}</div>
      <div class="motto">{{profile.info.motto}}</div>
    </div>
  </li>
</template>
