
<template name="shop_config">
  <form>
    
    <span>Company name:</span>
    <input type="text" value="{{companyName}}"/><br/>
    
    <span>Company motto:</span>
    <input type="text" value=""/><br/>
    
    <span>Choose your background colour:</span>
    <input type="text" id="colorBackground" name="color" value="#123456" /><br/>
    
    <span>Choose your main colour:</span>
    <input type="text" id="colorMain" name="color" value="#123456" /><br/>
    
    <span>Choose your text colour:</span>
    <input type="text" id="colorText" name="color" value="#123456" /><br/>
    
    <span>Menu:</span><br/>
    <button id="nextSection">Add section</button>
    <div id="companyMenu">
      {{#each sections}}
      <div>
        {{name}}
      </div>
      {{/each}}
    </div>
    
  </form>
  <div id="colorpicker"></div>
</template>
