<template name="shop_menu">
  <div class="shop-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="span2">
              {{> sections}}
            </div>
            <div class="span7 prodlist">
              {{> products}}
            </div>
            <div class="span3">
              {{> cart}}
            </div>
        </div>
    </div>
  </div>
</template>

<template name="sections">
  <ul class="nav nav-list">
    {{#each sections}}
      <li class="nav-header section" id="{{_id}}">{{name}}</li>
    {{/each}}
  </ul>
</template>

<template name="products">
    <div class="page-header">
        <h1>
            <span class="label-important label">{{category}}</span> <small>Products </small>
        </h1>
    </div>
    {{#each productlist}}
        {{>product}}
    {{else}}
    <div class="page-header">
        <h1>
            <small>{{#if catnotselected}}Select a Category{{else}}No Products Found{{/if}}</small>
        </h1>
    </div>
    {{/each}}
</template>
<template name="product">
    <div class="well span3">
        <ul id="{{_id}}" class="nav nav-list ">
            <li class="thumbnail"><img  style="height:90px;width:auto" src="/{{thumb}}"/></li>
            <li><strong>{{name}}</strong></li>
            <li>{{desc}}</li>
            <li><strong>{{currency price}}</strong></li>
            <input placeholder="Qty" class="input input-mini prodqty" value="0"/><a class="btn btn-success btn-mini addcart" href="#">Add</a>
        </ul>
    </div>
</template>

<template name="BT">
  <div class="payment-form {{paymentFormStatusClass}}">
    <div class="row">
      <div class="overlay-bt">
        <h1 class="overlay__message">
          Processing...
        </h1>
      </div>
    </div>

    <div class="row">
      <h2>Checkout</h2>

      <hr>

      <form id="checkout" method="post" action="/checkout">
        <h3>Details</h3>
        <div class="row">
          <label for="firstName" class="columns small-12 large-6">
            First Name
            <input type="text" name="firstName" required>
          </label>

          <label for="lastName" class="columns small-12 large-6 ">
            Last Name
            <input type="text" name="lastName" required>
          </label>
        </div>

        <h3>Payment</h3>
        <div class="row">
          <div id="dropin" class="columns small-12"></div>
        </div>

        <div class="row">
          <div class="columns small-12">
            <button type="submit">Complete Your Purchase</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="confirmationBT">
  <div class="row">
    <h2>Order Complete</h2>
    <h1>Thank you!</h1>
     {{#linkTo route="BT"}}
       Take me back! I want to buy more stuff!
     {{/linkTo}}
  </div>
</template>


