<template name="shop_menu">
  <div class="shop-menu">
    <div class="sections{{#if section}} move{{/if}}">
      <header class="mobile"><div class="back"></div>{{shop.profile.name}}</header>
      {{> sections}}
    </div>
    <div class="products{{#if section}} move{{/if}}">
      <header class="mobile"><div class="back"></div>{{section}}</header>
      {{> products}}
    </div>
    {{> cart}}
  </div>
</template>

<template name="sections">
  <ul>
    {{#each sections}}
      <li class="section" id="{{_id}}">
        <div class="text">
          <div class="name">{{name}}</div>
          <div class="description">{{description}}</div>
        </div>
      </li>
    {{/each}}
  </ul>
</template>

<template name="products">
  <div class="products-wrapper">
    <div class="products-inner" style="width:{{productlist.length}}00vw">
    {{#each productlist}}
        {{>product}}
    {{else}}
      <div class="page-header">
          <h1>
              <small>No Products Found</small>
          </h1>
      </div>
    {{/each}}
    </div>
  </div>
</template>

<template name="product">
  <div class="product" id="{{_id}}">
    <div class="show-product" style="background-image:url(/images/coffee.jpg)">
      <div class="text">

        <div class="price">{{currency price}}</div>
        <div class="name">{{name}}</div>
        <div class="description">{{description}}</div>
      </div>
    </div>
    <form class="form">
      <input type="number" placeholder="Quantity" class="prodqty" value="0"/>
      <button class="button" type="submit">Add</button>
    </form>

  </div>
</template>
